.app {
  padding: 1rem;

  .headerBtnContainer {
    position: absolute;
    top: 20px;
    right: 20px;

    .homeButton {
      width: 100px;
      height: 30px;
      border-radius: 8px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: #3A3B3C;
      color: #fff;
    
      .bi-box-seam {
        width: 12px;
        height: 12px;
        margin-right: 5px;
      }
    }
  }
  
  .container-fluid {
    .home {
      .headerTitle {
        font-size: 2rem;
      }
      .headerSubTitle {
        font-size: 12px;
      }
      .navbar {
        padding: 2px;
    
        .container-fluid {
          padding: 2px;
        }
        .nav-item {
          display: flex;
          justify-content: space-around;
          max-width: 150px;
          min-width: 25%;
    
          .nav-link {
            padding: 0px;
          }
    
          &.active {
            background-color: #fff;
          }
        }
  
        @media (min-width: 768px) {
          .navbar-expand-lg .navbar-collapse {
              display: flex;
              flex-direction: row;
          }
      
          .navbar-expand-lg .navbar-nav {
            flex-direction: row;
          }
      
          .navbar-expand-lg .navbar-toggler {
            display: none;
          }
        }
      }
    }
    .featredComponent {
  
      .featuredTitle {
        font-size: 20px;
      }
      .featuredSubtitle {
        font-size: 8px;
      }
      
      .cardContainer {
        padding: .5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
        column-gap: 1rem;
  
        .card {
          .card-body {
            .card-title {
              font-size: 12px;
              font-weight: bold;
            }
            .card-text {
              font-size: 10px;
            }
          }
        }
      }
    }
  }

  .KPI-page {
    button {
      pointer-events: none;
    }
  }
  
  .modal {
    .modal-header {
      border: none;
      padding: .5rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .shareBtn {
        border: none;
        padding: 0px;
        background-color: transparent;
      }

      .btn-close, .bi-box-arrow-up-right {
        font-size: 8px;
        width: 10px;
        height: 10px;
      }

      .btn {
        &.close {
          &:focus {
            box-shadow: none;
          }
        }
      }
    }
    .modal-body {
      .description {
        font-size: 10px;
      }

      .modalDataNumbers {
        display: flex;
        justify-content: space-around;
        padding: 20px 0;

        .modalDataNumbersDetails {
          font-size: 12px;
          display: flex;
          flex-direction: column;

          &:not(:last-child) {
            padding-right: 50px;
            border-right: 1px solid #dee2e6;
          }
        }
        .modalDataDescText {
          font-size: 6px;
          color: #dee2e6;

          .bi-info-circle {
            width: 8px;
            height: 8px;
            color: #dee2e6;
          }
        }
      }
    }
    .modal-footer {
      border: none;
    }
  }

  .autoComplete {
    .searchIcon {
      .input-group-text {
        background-color: transparent;
      }

      input {
        border-left: none;

        &:focus,
        &:active {
          border-color: #dee2e6;
        }
      }
    }
    ul {
      width: 48%;
      list-style: none;
      padding: 0;
      margin: 0;
      position: absolute;
      background-color: white;
      border: 1px solid #ccc;
      max-height: 150px;
      overflow-y: auto;
      z-index: 15;

      li {
        button:first-child {
          border: none;
          background-color: transparent;
          text-align: start;
          padding-left: 24px;
          width: 100%;
        }
        button:last-child {
          background-color: transparent;
          border: none;
        }
      }
    }
  }

  .KPI {
    pointer-events: none;
  }
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
}

.form-control {
  &:focus {
    box-shadow: none;
  }
}